body {
    font-size: 1.5em;
}

h1 {
    color:red;
    font-weight: bolder;
    font-size: 2em;
}

section h1 {
    color: #00ff00;
}

p {
    color:#00aaff;
}
nav {
    background-color: darkolivegreen;
    margin: 1em;
    padding: 2em;
}

table {
    border: 1px solid #00aaff;
    border-radius: 15px;
}

.resaltado {
    background-color: cadetblue;
    color: #ffffff;
    font-weight: bold;
}