<html>
    <head></head>
    <body>
        <nav>
            <form action="/usuarios" style="display: inline">
                <input type="submit" value="Usuarios">
            </form>
            <form action="/todos" style="display: inline">
                <input type="submit" value="Contactos">
            </form>
            <form action="/citas" style="display: inline">
                <input type="submit" value="Citas">
            </form>
        </nav>
        <table border='1'>
            <tr>
                <th>Lugar</th>
                <th>Fecha</th>
                <th>Descripción</th>
                <th>Contacto</th>
                <th colspan='2'>Acciones</th>

            </tr>
            {% for u in citas%}
            <tr>
                <td>{{ u[2] }}</td>
                <td>{{ u[3] }}</td>
                <td>{{ u[4] }}</td>
                <td>{{ u[5] }}</td>
                <td>                   
                        <input type="submit" value="Actualizar">
                </td>
                <td>
                        <input type="submit" value="Eliminar">
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Agregar cita">
    </body>

</html>