<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'> 
        <title >Contactos</title>
        <meta name='viewport' content='width=device-width, initial-scare=1'>
        <link rel="stylesheet" type='text/css' media='screen' href="{{ url_for('static', filename='css/estilos.css') }}">

    </head>
    <body>
        <nav>
            <form action="/usuarios" style="display: inline">
                <input type="submit" value="Usuarios">
            </form>
            <form action="/contactos" style="display: inline">
                <input type="submit" value="Contactos">
            </form>
            <form action="/citas" style="display: inline">
                <input type="submit" value="Citas">
            </form>
        </nav>
        <table border='1'>
            <tr>
                <th>Usuario</th>
                <th >Nombre</th>
                <th >Apellido</th>
                <th >Dirección</th>
                <th >Telefono</th>
                <th >Correo</th>
                <th colspan="2">Administración</th>

            </tr>
            {% for u in contactos%}
            <tr>
                <td>{{ u[0] }}</td>
                <td>{{ u[1] }}</td>
                <td>{{ u[2] }}</td>
                <td>{{ u[3] }}</td>
                <td>{{ u[4] }}</td>
                <td>{{ u[5] }}</td>
                <td>                   
                        <input type="submit" value="Actualizar">
                </td>
                <td>
                        <input type="submit" value="Eliminar">
                </td>
            </tr>
        {% endfor %}
        </table>
        <input type="submit" value="Agregar contacto">
    </body>

</html>