<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'> 
        <title >Todos</title>
        <meta name='viewport' content='width=device-width, initial-scare=1'>
        <link rel="stylesheet" type='text/css' media='screen' href="{{ url_for('static', filename='css/estilos.css') }}">
    </head>
    <body>
        <nav>
            <form action="/usuarios" style="display: inline">
                <input type="submit" value="Usuarios">
            </form>
            <form action="/todos" style="display: inline">
                <input type="submit" value="Contactos">
            </form>
            <form action="/citas" style="display: inline">
                <input type="submit" value="Citas">
            </form>
        </nav>
        <table border='1'>
            <tr>
                <th>Usuario</th>
                <th colspan="3">Acciones</th>
            </tr>
            {% for u in usuarios%}
            <tr>
                <td>{{ u[1] }}</td>
                <td><a href="/actualizar_usuario?id={{ u[0] }}">Editar</a></td>
                <td><a href="/eliminar_usuario?id={{ u[0] }}">Eliminar</a> </td>                
            </tr>
        {% endfor %}
        </table>
        <a href="/agregar_usuario">Agregar usuario</a>
    </body>

</html>