<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Datos Básicos</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='estilos2.css')}}">
    </head>
    <body>
        <header>
            
            <img src="{{url_for('static',filename='Imagenes/videojuegos.png')}}" width="100px" class="izq">
            <img src="{{url_for('static',filename='Imagenes/ho.png')}}" width="70px" class=rigth>
            <center>              
                <h1>DATOS BÁSICOS</h1>               
            </center>
        </header>
        
        <center>
            <section>
                <p><b>Nombre: </b><i>Miguel Angel Veloza Ortiz</i></p>
                <p><b>Edad: </b><i>18</i></p>
                <p><b>Correo electrónico: </b><i>mavelozao@correo.udistrital.edu.co</i></p>
                <p><b>Sexo: </b><i>Masculino</i></p>
                <p><b>Fecha de nacimiento (dd/mm/aaaa): </b><i>05/03/2002</i></p>
                <p><b>Dirección: </b><i>Cra 94 a #6 - 45</i></p>
                <p><b>Estado civil: </b><i>Soltero</i></p>
                <p><b>Ocupación: </b><i>Estudiante</i></p>
            </section>
        </center>
        <nav>
            <a href="/principal.html">Volver inicio</a>
        </nav>
    </body>
</html>