<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Formacion</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='estilos.css')}}">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="titulo">
            <h1><i>Formacion</i></h1>
        </div>
    </header>

    <section class="body">
        <div class="info">
            <p>Universidad Distrital - Ingenieria de Sistemas</p>
            <p>Curso musica especializada en piano</p>
            <p>Primaria - Colegio Calatrava</p>
            <p>Secundaria - Colegio Calatrava - Gimnasio Campestre de Guilford</p>
            <p>Idiomas: Español, Ingles</p>
            <p>Universidad Nacional - Ingenieria Civil (Sin finalizar)</p>
            <p>Colombo - Estudios en Ingles hasta Skills</p>
        </div>
        <div class="fotos">
            <img src="{{url_for('static',filename='Imagenes/pianoo.jpeg')}}" width="600px">
        </div>
    </section>
    <footer>
        <nav>
            <a href="/home.html">Home</a>
            <a href="/datosp.html">Datos Personales</a>
            <a href="/formaciona.html">Formacion Academica</a>
            <a href="/proyecciones.html">Proyecciones Tecnologicas</a>
            <a href="/contacto.html">Contacto</a>
        </nav>
    </footer>
    
</body>
</html>