<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Formación</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='estilos2.css')}}">
    </head>
    <body>
        <header>
            
            <img src="{{url_for('static',filename='Imagenes/videojuegos.png')}}" width="100px" class="izq">
            <img src="{{url_for('static',filename='Imagenes/ho.png')}}" width="70px" class=rigth>
            <center>
                <h1>Formación en programación</h1>    
            </center>
        </header>
        <section>
            <p>En el colegio tuve inducción a la programación donde aprendí cosas basicas de C++ y html, posteriormente estos aprendizajes los reforzé y continué en la universidad, tuve un curso de programación básica enfocado C++ en la universidad, luego programación orientada a objetos(POO) con el profesor Sergio rojas que se basó en java durante todo el curso, actualmente curso programación avanzada donde espero aprender muchas cosas nuevas. </p>
        </section>
        <nav>
            <a href="/principal.html">Volver a Inicio</a>
            <a href="/">Menu</a>
        </nav>
    </body>
</html>