<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Contacto</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='estilo.css')}}">
        <script src='main.js'></script>
    </head>
    <body>

        <header>
            <div class="titulo">
                <h1><i>Contacto</i></h1>
            </div>
        </header>
        
        <img src="{{url_for('static',filename='Imagenes/photo5001266933047339202 (copia).jpg')}}" width="300px">
        <h1>JOSE ALEJANDRO CORTAZAR LOPEZ</h1>        
        <H4>Codigo:20181020022</H4>
        <p>Etudiante de ingenieria d Sistemas de la <i>Universdia Distrtial Francisco Jose</i></p>
        <p>Miembro Activo del grupo Linux de Launiversidad Distrital <b>GLUD</b></p>
        <footer>
            <nav>
                <a href="home1.html">Home</a>
                <a href="personaldata.html">Datos Personales</a>
                <a href="academia.html">Formacion Academica</a>
                <a href="tecnology.html"> Tecnologias que distruto</a>
                <a href="/">Menu</a>
            </nav>
        </footer>
    </body>
</html>