<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Sebastian</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href= "{{url_for('static',filename='estilos.css')}}">
    <script src='main.js'></script>
</head>
<body>
    <header>
        <div class="titulo">
            <h1><i>Hoja de Vida</i></h1>
        </div>
    </header>

    <section class="body">
        <div class="info">
            <p>Sebastian Gonzalez Gutierrez</p>
            <p>20182020070</p>
            <p>Estudiante Ing. Sistemas</p>
        </div>
        <div class="foto">
            <img src="{{url_for('static',filename='Imagenes/fotop.jpeg')}}" width="400px">
        </div>
    </section>
    <footer>
        <nav>
            <a href="/datosp.html">Datos Personales</a>
            <a href="/formaciona.html">Formacion Academica</a>
            <a href="/proyecciones.html">Proyecciones Tecnologicas</a>
            <a href="/contacto.html">Contacto</a>
            <a href="/">Menu</a>
        </nav>
    </footer>
    
</body>
</html>