<!DOCTYPE html>
<html lang="es"> 
    <head>
        <title> PRESENTACIÓN </title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='estilos2.css')}}">
    </head>

    <body>
        <header>
            
            <img src="{{url_for('static',filename='Imagenes/videojuegos.png')}}" width="100px" class="izq">
            <img src="{{url_for('static',filename='Imagenes/ho.png')}}" width="70px" class=rigth>
            <center>              
                <h1>HOJA DE VIDA</h1>       
            </center>
            
        </header>
        <center>
            
            
            <img src="{{url_for('static',filename='Imagenes/perfil.jpg')}}" width="300px">
            <p><b>Nombre:</b> <i>Miguel Angel Veloza Ortiz</i></p>
            <p><b>Código:</b> <i>20192020012</i></p>

            <nav>
                <ul>
                    <li> <a href="/datosBasicos.html">Datos básicos</a> </li>
                    <li> <a href="/formacionM.html">Formación</a></li>
                    <li> <a href="/tecnologiasInteres.html">Tecnologías de interes</a></li>
                </ul>
                
            </nav>
        </center>
    </body>
</html>