<html>
    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <title>Contacto</title>
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <link rel='stylesheet' type='text/css' media='screen' href="{{url_for('static',filename='estilos.css')}}">
        <script src='main.js'></script>
    </head>
    <body>
        
            <li>Tecnologias de interes</li>
                <ul>gnu/Linux</ul>
                <ul>Debian</ul>
                <ul>Desarrollo de entornos de escritorios</ul>
        <footer>
            <nav>
                <a href="home1.html">Home</a>
                <a href="personaldata.html">Datos Personales</a>
                <a href="academia.html">Formacion Academica</a>
                <a href="tecnology.html"> Tecnologias que distruto</a>
                <a href="/">Menu</a>
            </nav>
        </footer>
    </body>
</html>