<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Tecnologías de interes</title>
        <link type="text/css" rel="stylesheet" href="{{url_for('static',filename='estilos2.css')}}">
    </head>
    <body>
        <header>
            <img src="{{url_for('static',filename='Imagenes/videojuegos.png')}}" width="100px" class="izq">
            <img src="{{url_for('static',filename='Imagenes/ho.png')}}" width="70px" class=rigth>
            <center>
                <h1>TECNOLOGÍAS DE INTERÉS</h1>             
            </center>
        </header>
        
        <p>Hasta el momento con lo que he ido sabiendo de cada lenguaje, me gustaria saber más como tal de programación y después enfocarlo hacia los videojuegos o hacia algo que me guste de cara al futuro. Me parece interesante aprender sobre el sistema operativo linux y llegar a saber que se puede hacer con el.   </p>
        <nav>
            <a href="/principal.html">Volver a Inicio</a>
            <a href="/">Menu</a>
        </nav>
    </body>
</html>